html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

@font-face {
    font-family: Agency FB-Regular;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/agency-fb-regular.woff) format('woff');
}

@font-face {
    font-family: Agency FB-Bold;
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/agency-fb-bold.woff) format('woff');
}

.overlay {
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.0);
    width: 100%;
    height: 100%;
    z-index: 800;
}

.hamburgerMenu__headerContainer {
    overflow-x: hidden;
    display: flex;
    position: absolute;
    width: 0px;
    height: 60px;
    background-color: #55A8FF;
    z-index: 999;
    transition: 0.35s ease-out;
}

.hamburgerMenu__NavTextContainer {
    justify-content: center;
    width: 100%;
    display: flex;
}

.hamburgerMenu__headerText {
    margin: 0;
    align-self: center;
    overflow-x: hidden;
    color: white;
    font-family: 'Agency FB-Regular';
    font-size: 35px;
}

.hamburgerMenu__xbuttonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.xbutton {
    margin-right: 15px;
    cursor: pointer;
    color: white;
    background-color: #55A8FF;
    outline: none;
    border: none;
    font-size: 30px;
}

.hamburgerBody {
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 999;
    position: absolute;
    top: 60px;
    width: 398px;
    height: 0px;
    background-color: #ebebeb;
    transition: 0.2s ease-in-out;
    border-right: solid 2px #55A8FF;
    border-bottom: solid 2px #55A8FF;
    border-bottom-right-radius: 10px;
}

.hamburgerBody__row {}

.hamburgerBody__text {
    font-family: 'Agency FB-Regular';
    text-align: center;
}

.topSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 80vh;
    padding: 0 5% 0 5%;
    background-color: white;
}

.topSection__hamburger--button {
    width: 100px;
    color: #55A8FF;
    position: absolute;
    top: 5vh;
}

.topSection__hamburger--button:hover {
    cursor: pointer;
}

.topSection__hamburger {
    align-self: flex-start;
    width: 50px;
    position: absolute;
    top: 3vw;
    left: 4vw;
}

.topSection__middleContainer {
    margin-top: 10vh;
    margin-bottom: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    width: 100%;
    text-align: center;
}

.middleContainer__h1 {
    width: fit-content;
    margin: 0;
    align-self: center;
    font-family: 'Agency FB-Regular';
    font-weight: 500;
    color: #55A8FF;
    font-size: 40px;
}

.middleContainer__h2 {
    width: fit-content;
    margin: 0 0 5px 0;
    align-self: center;
    font-family: 'Agency FB-Bold';
    color: black;
    font-size: 45px;
}

.middleContainer__p {
    width: fit-content;
    margin: 0;
    align-self: center;
    font-family: 'Agency FB-Regular';
    color: grey;
    font-size: 25px;
    font-weight: 500;
}

.middleContainer__logo {
    width: 80px;
    align-self: center;
    transition: transform .6s ease-in-out;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: -10vh;
}

.buttonContainer__viewmore--button {
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: black;
    align-self: center;
    margin-top: -60px;
    width: 170px;
    height: 36px;
    padding: 15px 40px;
    border-radius: 15px;
    border: solid 3px #55A8FF;
    text-decoration: none;
    font-family: 'Agency FB-Regular';
    letter-spacing: 2px;
    font-size: 30px;
    transition: 0.5s;
}

.buttonContainer__viewmore--button:hover {
    background-color: #55A8FF;
    color: white;
    transition: 0.5s;
    font-weight: 500;
}

.buttonContainer__arrow {
    width: 25px;
    transition: 0.2s ease-out;
}

.middleSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
    width: 100%;
    height: fit-content;
    clip-path: polygon(78% 0, 65% 12%, 35% 12%, 22% 0, 0 0, 0 91%, 100% 100%, 100% 0);
    background-color: #55A8FF;
}

.middleSection__header {
    color: white;
    font-family: 'Agency FB-Regular';
    font-size: 50px;
    margin-bottom: 40px;
    ;
}

.middleSection__infoContainer {
    background-color: #363636;
    width: 748px;
    height: fit-content;
    border-radius: 20px;
    padding: 10px 50px 10px 50px;
    margin-bottom: 200px;
}

.infoContainer__text {
    font-family: 'Agency FB-Regular';
    color: white;
    font-size: 25px;
    letter-spacing: 1.5px;
    line-height: 35px;
}

.bottomSection {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.bottomSection__keyFeaturesContainer {
    margin-top: -100px;
    z-index: 500;
    display: flex;
    width: 1200px;
    height: 700px;
    flex-direction: row;
    margin-bottom: 200px;
    background-color: white;
    border-radius: 50px;
    border: solid #DBDBDB 1.5px;
    box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.12);
}

.keyFeaturesContainer__box {
    display: flex;
    width: 400px;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.keyFeaturesContainer__box--borderRight {
    border-right: solid  #DBDBDB 2px;
}

.keyFeaturesContainer__icon {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70px;
    height: fit-content;
}

.keyFeaturesContainer__header {
    color: #55A8FF;
    font-family: 'Agency FB-Regular';
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.keyFeaturesContainer__textArea {
    width: 80%;
    height: auto;
    font-family: 'Agency FB-Regular';
    font-size: 30px;
    line-height: 40px;
    color: #575757;
    margin-bottom: 20px;
}

.footerBackground {
    display: flex;
    align-items: center;
    background-color: #363636;
    flex-direction: column;
    height: 350px;
}

.footerBackground__iconContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footerBackground__infoContainer {
    display: flex;
    flex-direction: column;
}

.infoContainer__headerText {
    color: rgb(201, 201, 201);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.infoContainer__underLine {
    margin: 10px;
    width: 350px;
    height: 0.5px;
    background-color: rgb(179, 179, 179);
}

.infoContainer__copyrightText {
    color: rgb(129, 129, 129);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.icon {
    align-self: center;
    color: rgb(236, 236, 236);
    transition: 0.1s linear;
    text-decoration: none;
}

.icon:hover {
    cursor: pointer;
    color: #55A8FF;
}

@media (max-width: 1500px) {
    .footerBackground__iconContainer {
        width: 500px;
    }
}

@media (max-width: 1331px) {

    .bottomSection__keyFeaturesContainer {
        width: 80%;
        height: auto;
    }

}

@media (max-width: 1156px) {
    /* Split into individual Boxes */

    .bottomSection__keyFeaturesContainer {
        flex-direction: column;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        background-color: rgba(0,0,0,0);
        width: fit-content;
    }

    .keyFeaturesContainer__box {
        background-color: white;
        border: solid #DBDBDB 1.5px;
        box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.12);
        border-radius: 15px;
        margin-bottom: 40px;
    }

    .keyFeaturesContainer__textArea {
        margin-bottom: 25px;
    }

}

@media (max-width: 1024px) {

    .middleSection__infoContainer {
        width: 70%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 900px) {
    .topSection__middleContainer {
        margin-top: 20px;
    }
    .middleSection {
        margin-top: 100px;
        clip-path: none;
        padding-top: 80px;
    }
}

@media (max-width: 768px) {
    .middleSection__header {
        text-align: center;
        margin: 0 70px 40px 70px;
        
    }
}

@media (max-width: 650px) {
    .footerBackground__iconContainer {
        width: 80%;
    }
}

@media(max-width: 900px) {
    .buttonContainer {
        margin-bottom: -25vh;
    }
}

@media (max-width: 475px) {
    .footerBackground__iconContainer {
        width: 95%;
    }
    .footerBackground__infoContainer {
        width: 80%;
    }
    .infoContainer__underLine {
        width: 100%;
    }
}

@media (max-width: 465px) {

    .bottomSection__keyFeaturesContainer {
        width: 90%;
    }

    .keyFeaturesContainer__box {
        width: 100%;
    }
}